@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; 
  --color-primary-dark: #2563eb;
  --color-secondary: #0f172a;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}
